.button {
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 8px 16px;
    color: #ddd;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        box-shadow: 0 0.5em 0.5em -0.4em #ececec;
        transform: translateY(-0.25em);
    }
    &--danger {
        background: #f12323;
        color: #fff;
    }
    &--primary {
        background: #176fe2;
        color: #fff;
    }
    &--warning {
        background: #fff89d;
    }
}

[role="button"] {
    cursor: pointer;
}