@import '../../styles/styles.scss';
.app-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background: #efefef;
    display: grid;
    grid-template-rows: 50px 1fr 40px;
    .content-wrapper {
        padding: 16px;
        position: relative;
    }
    footer {
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #ffffff;
        color: #1b1b1b;
    }
}